:root {
   font-size: 62.5%;

   --ff--primary: "DM Sans", sans-serif;
   --ff--secondary: "Rubik", sans-serif;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}

img {
   display: block;
   width: 100%;
   height: 100%;
}

body {
   font-size: 16px;
   background: #111827;
   line-height: 1.3;
   overflow-x: hidden;
}

.header {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: absolute;
   top: 0;
   left: 0;
   padding: 3rem 80px;
   z-index: 5;
   transition: all 300ms;
}

.header.active {
   position: fixed;
   background-color: #161d32;
   animation: slidIn 500ms ease forwards;
}

@keyframes slidIn {
   0% {
      transform: translateY(-100%);
   }
   100% {
      transform: translateY(0);
   }
}

.logo {
   display: flex;
   align-items: center;
   gap: 0.8rem;
   font-size: var(--ff--secondary);
   font-weight: 500;
   font-size: 2rem;
   color: #ffffff;
   line-height: 24px;
}

.logo img {
   width: 25px;
}

#open--menu--btn {
   font-size: 3rem;
   font-weight: bold;
   color: #ffffff;
   cursor: pointer;
   display: none;
}

#close--btn {
   font-size: 3rem;
   font-weight: bold;
   color: #ffffff;
   cursor: pointer;
   position: absolute;
   top: 30px;
   right: 10px;
   display: none;
}

.nav--link {
   margin-inline: 0 6rem;
   font-family: var(--ff--primary);
   font-weight: 500;
   font-size: 1.4rem;
   color: #f9fafb;
   transition: all 300ms;
}

.nav--link:is(:hover, :focus) {
   color: #6f737c;
}

.nav--btn {
   background: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
   padding: 12px 24px;
   color: #ffffff;
   border-radius: 5px;
   font-family: var(--ff--primary);
   font-weight: 500;
   font-size: 1.4rem;
   line-height: 18px;
   transition: all 300ms;
}

.nav--btn:is(:hover, :focus) {
   background: linear-gradient(160.35deg, #4473d8 0.86%, #d066e0 101.02%);
}

.container {
   display: grid;
   grid-template-columns: 1fr min(100%, calc(1200px - 10px)) 1fr;
   padding-inline: 1rem;
}

.container > * {
   grid-column: 2;
}

.home {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   padding-block-start: 9rem;
}

.title {
   background: linear-gradient(89.83deg, #2563eb 0.11%, #d946ef 58.65%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
   font-family: var(--ff--primary);
   font-weight: 700;
   font-size: clamp(3rem, 4vw, 5.8rem);
   line-height: 1.2;
   letter-spacing: 0.02em;
}

.text--home {
   font-family: var(--ff--primary);
   font-weight: 500;
   font-size: 15px;
   line-height: 30px;
   color: #e5e7eb;
   opacity: 0.8;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
   margin-block: 30px;
}

.group--btn {
   display: flex;
   gap: 1.6rem;
}

.Join--btn {
   background: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
   border-radius: 6px;
   color: #ffffff;
   width: 135px;
   height: 50px;
   font-family: var(--ff--primary);
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   cursor: pointer;
   border: none;
}

.Join--btn:is(:hover, :focus) {
   opacity: 0.8;
}

.Watch--btn {
   display: flex;
   align-items: center;
   gap: 0.8rem;
   background-color: transparent;
   border: 0;
   cursor: pointer;
   font-family: var(--ff--primary);
   font-weight: 500;
   font-size: 16px;
   line-height: 21px;
   color: #f9fafb;
}

.Watch--btn i {
   font-size: 30px;
}

.Service {
   text-align: center;
   padding-block: 6rem;
}

.service--title {
   font-family: var(--ff--primary);
   font-weight: 700;
   font-size: clamp(3rem, 4vw, 4.2rem);
   color: #ffffff;
}

.service--text {
   font-family: var(--ff--primary);
   font-weight: 400;
   font-size: clamp(1.4rem, 2.5vw, 1.6rem);
   color: #ffffff;
   max-width: 587px;
   width: 100%;
   margin-inline: auto;
   margin-block: 30px 40px;
   line-height: 26px;
}

.grid--list {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
   gap: 3rem;
   width: 100%;
}

.card {
   display: grid;
   padding: 3rem 2.3rem;
   background: linear-gradient(
      268.12deg,
      rgba(254, 254, 255, 0.032) -11.04%,
      rgba(255, 255, 255, 0.018) 104.89%
   );
   box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
   border-radius: 34px;
}

.circle {
   width: 74px;
   aspect-ratio: 1;
   border-radius: 50%;
   margin-inline: auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

.one {
   background: linear-gradient(180deg, #8a7fd9 0%, #402f8f 100%);
}

.two {
   background: linear-gradient(180deg, #d97f95 0%, #923250 100%);
}

.three {
   background: linear-gradient(180deg, #84d8ed 0%, #4292bb 100%);
}

.for {
   background: linear-gradient(180deg, #92efc3 0%, #2f8f5b 100%);
}
.five {
   background: linear-gradient(180deg, #bc7fd9 0%, #923283 100%);
}
.six {
   background: linear-gradient(180deg, #8684ed 0%, #4247bb 100%);
}

.circle img {
   display: block;
   width: 33px;
   height: 33px;
}

.card--title {
   font-family: var(--ff--primary);
   font-weight: 500;
   font-size: clamp(1.8rem, 2.5vw, 2.2rem);
   line-height: 31px;
   color: #ffffff;
   margin-top: 16px;
}

.text--card {
   font-family: var(--ff--primary);
   font-weight: 400;
   font-size: clamp(1.4rem, 2vw, 1.5rem);
   line-height: 26px;
   color: #ffffff;
   margin-block: 17px 24px;
}

.card--link {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.8rem;
   font-family: var(--ff--primary);
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color: #ffffff;
}
.card--link:hover i {
   transform: translateX(8px);
}

.card--link i {
   font-size: 25px;
   transition: all 300ms;
   color: inherit;
}

.About {
   padding-block: 6rem;
   display: grid;
   gap: 3rem;
}

.top--about,
.botton--about {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   gap: 3rem;
}

.content--about {
   display: grid;
   gap: 3rem;
}

.about--title {
   font-family: var(--ff--primary);
   font-weight: 700;
   font-size: clamp(2.7rem, 2.5vw + 1rem, 3.6rem);
   line-height: 1.1;
   color: #ffffff;
}

.about--text {
   font-family: var(--ff--primary);
   font-weight: 400;
   font-size: clamp(1.4rem, 2.5vw, 1.6rem);
   line-height: 26px;
   color: #ffffff;
}

.about--btn {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 99px;
   height: 31px;
   background: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
   border-radius: 4px;
   font-family: var(--ff--primary);
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   color: #ffffff;
}

.about--btn:is(:hover, :focus) {
   opacity: 0.8;
}

.team {
   text-align: center;
   padding-block: 6rem;
}

.title--team {
   font-family: var(--ff--primary);
   font-weight: 700;
   font-size: clamp(2.8rem, 2.5vw, 4.2rem);
   line-height: 55px;
   color: #ffffff;
}

.text--team {
   font-family: var(--ff--primary);
   font-weight: 400;
   font-size: clamp(1.4rem, 2.5vw, 1.6rem);
   line-height: 21px;
   text-align: center;
   color: #ffffff;
   max-width: 480px;
   width: 100%;
   margin-inline: auto;
   padding-block: 3rem 4rem;
}

.grid--team {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 3rem;
}

.card--team {
   padding: 3.2rem 5rem;
   background: linear-gradient(
      268.12deg,
      rgba(254, 254, 255, 0.032) -11.04%,
      rgba(255, 255, 255, 0.018) 104.89%
   );
   box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
   border-radius: 34px;
   display: grid;
   width: 100%;
}

.card--team img {
   width: 90px;
   margin-inline: auto;
}

.person--title {
   font-family: var(--ff--primary);
   font-weight: 500;
   font-size: clamp(2rem, 2.5vw, 2.6rem);
   line-height: 36px;
   color: #ffffff;
}

.descripition {
   font-family: var(--ff--primary);
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   letter-spacing: 0.03em;
   color: #d3cfcf;
   text-transform: uppercase;
   padding-block: 7px 11px;
}

.social--team {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2rem;
}

.social--link {
   font-size: 2rem;
   color: #ffffff;
}

.clt {
   background: linear-gradient(
      180deg,
      rgba(254, 254, 255, 0.0145) 0%,
      rgba(255, 255, 255, 0.02) 100%
   );
   box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
   border-radius: 34px;
   text-align: center;
   padding-block: 5rem 3rem;
   padding-inline: 0.5rem;
   margin-block: 6rem;
}

.title--clt {
   font-family: var(--ff--primary);
   font-weight: 700;
   font-size: clamp(2.8rem, 2.5vw, 4.2rem);
   line-height: 1.1;
   color: #ffffff;
}

.text--clt {
   font-family: var(--ff--primary);
   font-weight: 400;
   font-size: clamp(1.4rem, 2.5vw, 1.6rem);
   line-height: 30px;
   color: #ffffff;
   opacity: 0.8;
   padding-block: 1.3rem 3rem;
}

.clt--control {
   max-width: 860px;
   width: 100%;
   background: linear-gradient(
      180deg,
      rgba(254, 254, 255, 0.0348) 0%,
      rgba(255, 255, 255, 0.048) 100%
   );
   box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
   border-radius: 70px;
   margin-inline: auto;
   display: flex;
   align-items: center;
}

.clt--control input {
   all: unset;
   box-sizing: border-box;
   display: inline-block;
   width: 100%;
   text-align: start;
   padding: 2.5rem 0 2.5rem 4rem;
   color: #ffffff;
   opacity: 0.9;
   font-family: var(--ff--secondary);
   font-weight: 500;
   font-size: clamp(1.4rem, 2.5vw, 1.8rem);
}

.clt--control input::placeholder {
   font-family: var(--ff--secondary);
   font-weight: 500;
   font-size: clamp(1.4rem, 2.5vw, 1.8rem);
   line-height: 30px;
}

.clt--btn {
   background: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
   opacity: 0.9;
   border-radius: 70px;
   max-width: 196px;
   padding: 1.5rem 4.9rem;
   color: #ffffff;
   border: 0;
   outline: 0;
   margin-right: 1rem;
   cursor: pointer;
   display: flex;
   align-items: center;
   gap: 0.8rem;
}

.clt--btn:is(:hover, :focus) {
   opacity: 0.8;
}
@media (max-width: 780px) {
   .header {
      padding-inline: 1rem;
   }
   .navbar {
      position: absolute;
      top: 0;
      right: -350px;
      max-width: 330px;
      background-color: #161d32;
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 300ms;
   }

   .navbar.active {
      right: 0;
   }

   .nav--link {
      margin-inline: 0;
      margin-bottom: 6rem;
   }

   #open--menu--btn,
   #close--btn {
      display: block;
   }

   .home {
      grid-template-columns: 1fr;
   }

   .Join--btn {
      width: 115px;
   }

   .top--about,
   .botton--about {
      grid-template-columns: 1fr;
   }

   .botton--about img {
      order: 1;
   }

   .botton--about .content--about {
      order: 2;
   }

   .clt--control input {
      padding-inline: 1.5rem 0;
   }

   .clt--btn {
      padding-inline: 2.9rem;
   }
}

@media (max-width: 980px) {
   .header {
      padding-inline: 1rem;
   }
}
